@import '../../../variables';

.home{
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    @media (max-width: 768px){
      height: 100vh;
      flex-wrap: wrap;
    };
    .leftBanner{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      background-color: $lightBrown;
      @media (max-width: 768px){
        height: 30%;
      };
      .higherElement{
        text-align: center;
        color: $dark;
        font-size: 3rem;
      }
      .lowerElement{
        text-align: center;
        color: $light;
        font-size: 1rem;
      }
    }
    .rightBannerCont{
      height: 100%;
      overflow: hidden;
      @media (max-width: 768px){
        height: 70%;
      }
      .rightBanner{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://firebasestorage.googleapis.com/v0/b/artgallery-9bfaf.appspot.com/o/jachty4_30x60.jpg_1623737837216?alt=media&token=ef3de26a-7d32-4a95-9c40-d14840d6c91e');
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1s;
        padding: 1rem;
        @media (max-width: 768px){
          height: 100%;
          padding: 0;
          justify-content: center;
          &:hover{
            transform: scale(1.1)
          }
        };
        z-index: 1;
        .buttonViewAll{
          @media (max-width: 768px){
            color: $light;
            font-size: 2rem;
            cursor: pointer;
            transition: 0.5s;
            height: 100%;
            width: 100%;
            &:hover{
              background: rgba(0,0,0,0.40);
            }
          };
          @media (min-width: 769px){
            @include defBtn(3rem, $dark, $light);
            background: rgba(0,0,0,0.20);
            z-index: 2;
          };
        }
      }
    }
  }
  .categoryPanel{
    height: 700px;
    padding-bottom: 1rem !important;
    .row{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      .categoryTitle{
        padding-block: 1rem !important;
      }
      .picturesBox{
        height: 90%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width: 768px){
          width: 100%;
        }
        .row{
          justify-content: center;
          align-items: center;
          flex-direction: column;
          @media(max-width: 768px){
            flex-direction: row;
          }
          .leftCatCont{
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 94%;
            width: 50%;
            margin-left: 1% !important;
            @media(max-width: 768px){
              width: 100%;
              height: 33%;
              margin-left: 0 !important;
              margin-bottom: 1rem !important;
            }
            .leftCat{
              background: url('https://firebasestorage.googleapis.com/v0/b/artgallery-9bfaf.appspot.com/o/portret4_60x50.jpg_1623739325668?alt=media&token=0cfce343-e04c-4135-856c-3d7c5b0e74f5');
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              height: 100%;
              width: 100%;
              transition: 0.6s all linear;
                &:hover{
                  transform: scale(1.1);
                }
                &:hover .paintingCat{
                  background: rgba(0,0,0,0.4);
                }
            }
          }
          .rightCont{
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 50%;
            @media(max-width: 768px){
              width: 100%;
              height: 66%;
            }
            .row{
              justify-content: center;
              align-items: center;
              .rightUpperCont{
                overflow: hidden;
                height: 46%;
                width: 96%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1% !important;
                @media(max-width: 768px){
                  width: 100%;
                  height: 50%;
                  margin-bottom: 1rem !important;
                }
                .rightUpper{
                  height: 100%;
                  width: 100%;
                  background: url('https://firebasestorage.googleapis.com/v0/b/artgallery-9bfaf.appspot.com/o/jachty1_40x50.jpg_1623737556061?alt=media&token=1f488c6b-8532-46a5-a208-7da6e0ae4093');
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  transition: 0.6s all linear;
                  &:hover{
                    transform: scale(1.1);
                  }
                  &:hover .paintingCat{
                    background: rgba(0,0,0,0.4);
                  }
                }
              }
              .rightLowerCont{
                overflow: hidden;
                height: 46%;
                width: 96%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1% !important;
                @media(max-width: 768px){
                  width: 100%;
                  height: 50%;
                  margin-top: 0 !important;
                  margin-bottom: 1rem !important;
                }
                .rightLower{
                  height: 100%;
                  width: 100%;
                  background: url('https://firebasestorage.googleapis.com/v0/b/artgallery-9bfaf.appspot.com/o/abstr6_65x50.jpg_1623737171953?alt=media&token=ba1ee9b3-ec27-4ab4-bce2-29f223a24685');
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  transition: 0.6s all linear;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  &:hover{
                    transform: scale(1.1);
                  }
                  &:hover .paintingCat{
                    background: rgba(0,0,0,0.4);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.paintingCat{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: $light;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.6s all linear;
}



