<div class="row home m-0 p-0">
  <div class="col-12 banner m-0 p-0">
    <div class="col-12 col-md-4 leftBanner m-0 p-0">
      <div class=" col-12 text-capitalize higherElement m-0 p-0">
        online art
      </div>
      <div class="col-12 lowerElement m-0 p-0">
        view and rate images
      </div>
    </div>
    <div class="col-12 col-md-8 rightBannerCont m-0 p-0">
      <div class="rightBanner">
        <div class="buttonViewAll d-flex align-items-center justify-content-center" (click)="redirectAllPaintings('all')"><span class="text-center">View All Paintings</span></div>
      </div>
    </div>
  </div>
  <div class="col-12 categoryPanel m-0 p-0">
    <div class="row justify-content-center m-0 p-0">
      <div class="col-12 text-center display-5 m-0 p-0 categoryTitle">
        choose a style
      </div>
      <div class="col-12 picturesBox m-0 p-0">
        <div class="row m-0 p-0">
          <div class="col-md-5 col-12 leftCatCont m-0 p-0">
            <div class="leftCat m-0 p-0">
              <div class="paintingCat m-0 p-0" (click)="redirectAllPaintings('portrait')">
                Portraits
              </div>
            </div>
          </div>
          <div class="col-md-5 col-12 m-0 p-0 rightCont">
            <div class="row m-0 p-0">
              <div class="col-12 rightUpperCont p-0 m-0">
                <div class="rightUpper p-0 m-0" >
                  <div class="paintingCat text-center" (click)="redirectAllPaintings('landscape')">
                    Landscapes
                  </div>
                </div>
              </div>
              <div class="col-12 rightLowerCont m-0 p-0">
                <div class="rightLower p-0 m-0">
                  <div class="paintingCat text-center" (click)="redirectAllPaintings('abstraction')">
                    Abstractions
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
